{
  "identities": [
    {
      "name": "anonymous",
      "actions": ["Read:tools-bucket"]
    },
    {
      "name": "app",
      "credentials": [
        {
          "accessKey": "${AWS_ACCESS_KEY_ID}",
          "secretKey": "${AWS_SECRET_ACCESS_KEY}"
        }
      ],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
  ]
}
